<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs')%>
    <h1>Edit <%= recipe.name %></h1>
    <form action="/users/<%= user._id %>/recipes/<%= recipe._id%>/?_method=PUT" method="POST">

        <label for="name">Name of Recipe</label>
        <input value="<%= recipe.name %>" type="text" id="name" name="name">
        
        <label for="name">Instructions of Recipe</label>
        <input value="<%= recipe.instructions %>" type="text" id="name" name="instructions">
        
        <label for="name">Ingredients of Recipe</label>
        <input value="<%= recipe.ingredients %>" type="text" id="name" name="ingredients">

        <button>Update</button>
    </form>
</body>
</html>