<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs')%>
        <h1>Add a new Recipe</h1>
        <form action="/users/:userId/recipes" method="POST">

            <label for="name">Name of Recipe</label>
            <input type="text" id="name" name="name">
<br>
<br>
            <label for="name">Instructions</label>
            <input type="text" id="name" name="instructions">
<br>
<br>
            <label for="name">Ingredients of Recipe:</label>
            <br>
                <% ingredients.forEach(ingredient => { %>
                    <input type="checkbox" 
                    name="ingredients" 
                    value="<%= ingredient._id %>" 
                    id="ingredient-<%= ingredient._id %>">
             <label for="ingredient-<%= ingredient._id %>">
                 <%= ingredient.name %>
             </label>
                <% }) %>
                <br>
                <% foods.forEach(food => { %>
                    <input type="checkbox" 
                    name="foods" 
                    value="<%= food._id %>" 
                    id="food-<%= food._id %>">
             <label for="food-<%= food._id %>">
                 <%= food.name %>
             </label>
                <% }) %>
<br>
<br>
            <button>Add New Recipe</button>
        </form>
</body>

</html>