<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs')%>
    <h1>Edit <%= ingredient.name %></h1>
    <form action="/users/<%= user._id %>/ingredients/<%= ingredient._id%>/?_method=PUT" method="POST">

        <label for="name">Name of Ingredient</label>
        <input value="<%= ingredient.name %>" type="text" id="name" name="name">


        <button>Update</button>
    </form>
</body>
</html>