<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs')%>

        <h1>Welcome to your Pantry <%= user.username%></h1>
        <ul>
            <% foods.forEach(food=> { %>
                <li>
                    <h3>
                        <%= food.name %>
                    </h3>
                </li>

                <a href="/users/<%= user._id %>/foods/<%= food._id%>/edit">edit</a>

                <form action="/users/<%= user._id %>/foods/<%= food._id%>?_method=DELETE" method="POST">
                    <button>delete</button>
                </form>

                <br><br>
                <% }) %>
        </ul>
        <a href="foods/new">Add New Food</a>
</body>

</html>